.landingPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.landingPage__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 20%;
  padding-bottom: 30%;

  #{&}__title {
    text-shadow: 2px 2px #000000;
    font-size: 3.5rem;
    font-weight: lighter;
    line-height: 0.1%;
  }
}

.landingPage__container__button {
  width: 30%;
  margin-bottom: 1rem;
  color: #ff9c9c;
  font-weight: light;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-shadow: 1px 1px #000000;
  box-shadow: 0px 5px 15px black;
  margin-top: 1%;
  padding: 0.5rem;
  cursor: pointer;
  border: solid 4px #ff9c9c;
  border-radius: 0.6rem;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.8rem;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  z-index: 99;

  &:hover {
    transition-duration: 0.1s;
    transform: scale(1.02);
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px #ff9c9c;
  }

  &:active::after {
    box-shadow: 0 0 0 0 rgb(0, 0, 0);
    position: absolute;
    border-radius: 0.6rem;
    left: 0;
    top: 0;
    opacity: 1;
    transition: 0s;
  }

  &:active {
    top: 1px;
  }
}

.nameSpan {
  color: #ff9c9c;
}
