.designPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.designContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
  margin-left: 5%;
  z-index: 999999;
}

.designContainer__imgBox {
  width: 40%;
  background-image: linear-gradient(
    to bottom,
    #2a415cc7,
    rgba(35, 46, 60, 0.92)
  );
  border-radius: 2%;
  padding-top: 2rem;
  padding-bottom: 2rem;

  #{&}__img {
    object-fit: contain;
    width: 65%;
    background: linear-gradient(to top, #2a415c, #ff9c9c) border-box;
    border: 2px solid transparent;
    z-index: 999999999;
  }
}

.designContainer__textBox {
  position: relative;
  right: 4%;
  bottom: 25px;

  #{&}__title {
    color: #ff9c9c;
    font-size: 3rem;
    text-align: left;
    margin-bottom: 0.1rem;
  }

  #{&}__txt {
    font-size: 1.2rem;
    font-weight: lighter;
    text-align: left;
    width: 700px;
  }
}

@media (max-width: 1439px) {
  .designContainer__textBox {
    #{&}__title {
      font-size: 2rem;
    }

    #{&}__txt {
      font-size: 1.1rem;
      width: 500px;
    }
  }
}

@media (max-width: 1023px) {
  .designContainer__textBox {
    #{&}__title {
      font-size: 1.8rem;
    }

    #{&}__txt {
      font-size: 1rem;
      width: 400px;
    }
  }
}

@media (max-width: 767px) {
  .designContainer {
    flex-direction: column;
    padding: 1rem;
    margin-left: 0;
  }

  .designContainer__imgBox {
    width: 80%;

    #{&}__img {
      width: 80%;
    }
  }

  .designContainer__textBox {
    right: 0;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    #{&}__title {
      text-align: center;
      font-size: 1.8rem;
    }

    #{&}__txt {
      text-align: center;
      font-size: 1rem;
      width: 90%;
    }
  }
}
