.aboutPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: relative;
  padding: 1rem;

  #{&}__title {
    margin-bottom: -1.4rem;
    font-size: 3.5rem;
    text-shadow: 1px 1px #000000;
    z-index: 9;
  }

  #{&}__border {
    position: relative;
    left: 1.8rem;
    padding-left: 8.5rem;
    border-top: 20px solid #ff9c9c;
  }
}

.contentContainer {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.contentContainerQas {
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
  padding-top: 1rem;

  #{&}__img {
    margin-top: 2rem;
    object-fit: contain;
    height: 16rem;
    background: linear-gradient(to top, white, #ff9c9c) border-box;
    border-radius: 47%;
    border: 2px solid transparent;
  }

  #{&}__name {
    font-size: 1.8rem;
    font-weight: lighter;
    color: #ff9c9c;
    letter-spacing: 1px;
  }

  #{&}__p {
    font-weight: lighter;
    font-size: 1.35rem;
    text-align: left;
    padding-left: 1rem;
  }
}

.contentContainerSkills {
  width: 50%;
  display: flex;
  justify-content: center;
  padding-top: 1rem;

  #{&}__grid {
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 0.5rem;
    column-gap: 2.5rem;
    margin-bottom: 80px;
    padding-top: 70px;
  }
}

.border {
  margin: 1rem;
  border: solid 1px white;
  border-radius: 18%;
  max-height: 80%;
  max-width: 80%;
}

.img {
  object-fit: contain;
  height: 4rem;
  width: 4rem;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.txt {
  font-size: 0.8rem;
  opacity: 60%;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: -1rem;
  margin-top: -0.7rem;
  padding: 0;

  #{&}__icons {
    width: 40%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }

  #{&}__iconsItems {
    opacity: 85%;
    font-size: 2.5rem;
    padding: 0rem;
  }
}

a {
  color: inherit;
}

a:hover {
  color: #ff9c9c;
}

span:hover {
  color: #ff9c9c;
  cursor: pointer;
}

.text {
  cursor: pointer;

  &:hover {
    color: #ff9c9c;
  }
}

@media (max-width: 1439px) {
  .titleContainer {
    #{&}__title {
      margin-bottom: -1.4rem;
      font-size: 3.2rem;
    }

    #{&}__border {
      left: 1.7rem;
      padding-left: 8rem;
    }
  }

  .contentContainerQas {
    #{&}__img {
      height: 14rem;
    }

    #{&}__name {
      font-size: 1.5rem;
      letter-spacing: 1px;
    }

    #{&}__p {
      font-size: 1.25rem;
    }
  }

  .contentContainerSkills {
    #{&}__grid {
      width: 95%;
      column-gap: 0.5rem;
      margin-bottom: 80px;
      padding-top: 75px;
    }
  }

  .img {
    height: 3rem;
    width: 3rem;
  }
}

@media (max-width: 1023px) {
  .contentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .logos {
    margin-bottom: -0.5rem;
    margin-top: 1rem;
    #{&}__icons {
      width: 40%;
      justify-content: space-between;
    }

    #{&}__iconsItems {
      opacity: 90%;
    }
  }

  .titleContainer {
    #{&}__title {
      margin-bottom: -1.4rem;
      font-size: 3.2rem;
    }

    #{&}__border {
      left: 1.5rem;
      padding-left: 7.5rem;
    }
  }

  .contentContainerQas {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;

    #{&}__img {
      height: 14rem;
    }

    #{&}__name {
      font-size: 1.5rem;
      letter-spacing: 1px;
      margin-bottom: 0.1rem;
    }

    #{&}__p {
      font-size: 1.2rem;
      text-align: center;
      width: 80%;
      padding-left: 0rem;
    }
  }

  .contentContainerSkills {
    margin-top: -50px;
    padding-top: 0;

    #{&}__grid {
      justify-content: center;
      width: 100%;
      row-gap: 1rem;
      column-gap: 1rem;
    }
  }

  .img {
    height: 4rem;
    width: 4rem;
  }
}

@media (max-width: 767px) {
  .titleContainer {
    #{&}__title {
      margin-bottom: -1.4rem;
      font-size: 3.2rem;
    }

    #{&}__border {
      left: 1.5rem;
      padding-left: 7.5rem;
    }
  }
  .logos {
    #{&}__icons {
      width: 50%;
      justify-content: space-between;
    }

    #{&}__iconsItems {
      opacity: 90%;
    }
  }

  .contentContainerQas {
    #{&}__img {
      height: 13rem;
    }

    #{&}__name {
      font-size: 1.4rem;
    }

    #{&}__p {
      font-size: 1.2rem;
      width: 75%;
    }
  }

  .contentContainerSkills {
    margin-top: -70px;

    #{&}__grid {
      row-gap: 0.1rem;
      column-gap: 0.1rem;
    }
  }

  .border {
    margin: 1rem;
    border: solid 1px white;
    border-radius: 18%;
  }

  .img {
    height: 2rem;
    width: 2rem;
  }
}
@media (max-width: 424px) {
  .logos {
    #{&}__icons {
      width: 50%;
      justify-content: space-between;
    }

    #{&}__iconsItems {
      opacity: 90%;
    }
  }
}
@media (max-width: 374px) {
  .contentContainerQas {
    #{&}__img {
      height: 12rem;
    }

    #{&}__name {
      font-size: 1.3rem;
    }

    #{&}__p {
      width: 80%;
    }
  }
  .contentContainerSkills {
    #{&}__grid {
      row-gap: 0.1rem;
      column-gap: 0.1rem;
    }
  }

  .border {
    margin: 0.5rem;
  }

  .img {
    height: 1.5rem;
    width: 1.5rem;
  }
}
